<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<body>
	<div>
		<input id="list" type="button" value="用户列表" onclick="requestData()"></input> 
	</div>
	<table>
		<thead>
			<tr>
				<th>用户名</th>
				<th>密   码</th>
			</tr>
		</thead>
		<tbody id="tab">
		
		</tbody>
	</table>
  </body>
<script type="text/javascript">
  $(function(){
	  $("#list").click(function(){
		  
 		 alert();
		 $.ajax({
			 url:"http://localhost:8080/user/list",
			 type:"post",
			 contentType: "application/json;cherset=utf-8",
			 dataType:"json",
			 success:function(data){
				 showUserList(data);
			 },
			 error:function(){
				 alert("请求异常")
			 }
		 });
	  });
  });
	 
	
	function showUserList(data){
		 var str = "";//定义用于拼接的字符串
		          for (var i = 0; i < data.length; i++) {
		              //拼接表格的行和列
		              str = "<tr><td>" + data[i].username + "</td><td>" + data[i].password + "</td></tr>";
		              //追加到table中
		              $("#tab").append(str);         }
	}
</script>
</html>
 